
span.k-textbox {
  width: 100%;
}

div.k-form-field:nth-child(3) {
  display: flex;
}
.RememberMe-form-label {
  order: 1;
  padding-left: 0.5em;
}
.k-form-field-wrap {
  position: relative;
}

.image-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 61%;
  height: 60%;
  z-index: 9000;
}

.frame-wrapper {
background-image:url('./assets/bg/data-science-1.png');  
/* background-image:url('./assets/bg/Capture.PNG');    */
/*background-position-y: center;*/
background-size:cover;
background-repeat: no-repeat;
border-left:1px;
}

.password-icon {
  position: absolute;
  margin-left: 245px;
  margin-top: 28px;
  color: gray;
}
@media (max-width: 800px) {
  .frame-wrapper {
    display: none;
  }
}